


.font-city{
    font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-brand{
    font-family: "Pacifico", cursive;
  font-weight: 700;
  font-style: normal;
  font-size:xx-large;
}
.nav-link{
    color: antiquewhite;
    font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style:normal;
  font-size: large;
  font-weight: bold;
}
.nav-link:hover{
    color: #183B4E;
}

@media screen and (min-width: 1025px) {
  
  .div-background{
    background-image: url(./img/BARc.JPG);
  background-size: cover;
  width: 100%;
  
  background-repeat: no-repeat;
}
    
    .divkol{
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
       
    }
    .navbar-cos{
        margin-left: 10px;
    }
    .divcard{
        background-color:rgb(243, 243, 224,0.6);
        color: #183B4E;
        width: 40rem;
        height: 45rem;
        text-align: center;
        grid-column: 1;
        grid-row: 2;
        padding: 20px;
        padding-top: 70px;
        border-radius: 30px;
    }
    .divbut{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        width: 38rem;
        height: 13rem;
        margin-top: 5rem;
        border-radius: 30px;
        padding: 20px;
    }
    .div-button{
        background-color: #183B4E;
        width: 100%;
        height: 30rem;
        color: goldenrod;
        padding: 0;
        text-align: center;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 400;
        font-style: normal;
        
    }
    
}
  


  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    
     
  .div-background{
    background-image: url(./img/BARc.JPG);
  background-size: cover;
  width: 100%;
  
  background-repeat: no-repeat;
}
    .divkol{
      padding: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 1fr;
     
  }
  .navbar-cos{
      margin-left: 10px;
  }
  .divcard{
      background-color:rgb(243, 243, 224,0.6);
      color: #183B4E;
      width: 40rem;
      height: 45rem;
      text-align: center;
      grid-column: 1;
      grid-row: 2;
      padding: 20px;
      padding-top: 70px;
      border-radius: 30px;
  }
  .divbut{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr ;
      width: 38rem;
      height: 13rem;
      margin-top: 5rem;
      border-radius: 30px;
      padding: 20px;
  }
  .div-button{
      background-color: #183B4E;
      width: 100%;
      height: 30rem;
      color: goldenrod;
      padding: 0;
      text-align: center;
      font-family: "Julius Sans One", sans-serif;
      font-weight: 400;
      font-style: normal;
      
  }
      
    }
  
  
  


  @media screen and (max-width: 767px) {
    .div-background{
      background-image: url(./img/phone/3E03275B-E031-4709-B5E4-A316CCEA6C1C_1_105_c.jpeg);
    background-size: cover;
    width: 100%;
    
    background-repeat: no-repeat;
  }




  .divkol{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
   
}
.navbar-cos{
    margin-left: 10px;
}
.divcard{
    background-color:rgb(243, 243, 224,0.4);
    color: #183B4E;
    width: 30rem;
    height: 31rem;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    padding-top: 70px;
    border-radius: 30px;
}
.divbut{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    width: 20rem;
    height: 6rem;
    margin-top: 1rem;
    border-radius: 30px;
    padding: 20px;
    font-size: small;
    margin-bottom: 1rem;
}
.div-button{
    background-color: #183B4E;
    width: 100%;
    height: 30rem;
    color: goldenrod;
    padding: 0;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
  }
  

